﻿.sprite {
  background-image: url('');
}

.btn_default_selected {
  background-image: url('btn_default_selected.9.png');
}
.btn_dialog_pressed {
  background-image: url('btn_dialog_pressed.png');
}
.btn_rating_star_on_pressed {
  background-image: url('btn_rating_star_on_pressed.png');
}
.btn_zoom_page_normal {
  background-image: url('btn_zoom_page_normal.png');
}
.ic_menu_account_list {
  background-image: url('ic_menu_account_list.png');
}
.ic_menu_btn_add {
  background-image: url('ic_menu_btn_add.png');
}
.ic_menu_call {
  background-image: url('ic_menu_call.png');
}
.ic_menu_camera {
  background-image: url('ic_menu_camera.png');
}